<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />

</head>
<body>
<h1>REST-Dokumentaatio - Kevätsaapas</h1>
<h2> REST-toiminnot:</h2>
<p>Hae kaikki kyselyn kysymykset<p>
<p>Hae yksi kysymys kysymyksen Id:llä<p><br/>
  <h1> Toiminto: Hae kaikki kysymykset:</h1>
  <a href="https://sheltered-sands-56766.herokuapp.com/api/kyselyt">https://sheltered-sands-56766.herokuapp.com/api/kyselyt</a>
  <h2>GET-metodi kyseessä, tuottaa seuraavanlaisen tuloksen:</h2>
  <p>[{"id":1,"kysymysTeksti":"Kuinka kuvaat terveydentilaasi tällä hetkellä asteikolla 1-10?"},<br/>{"id":2,"kysymysTeksti":"Kuinka kuvaat hyvinvointiasi tällä hetkellä asteikolla 1-10?"},<br/>{"id":3,"kysymysTeksti":"Kuinka opiskelusi sujuu?"}]<p>
    <p>Tulee kasa kysymyksiä pilkulla eroteltuna, attribuutteina kysymyksen uniikki id-numero ja itse kysymyksen teksti.<p><br/><br/>
      <h1> Toiminto: Hae yksi kysymys:</h1>
      <p>https://sheltered-sands-56766.herokuapp.com/api/kysymykset/{kysymyksen_id}<p>
      <h2>GET-metodi tämäkin, laittamalla urliin kysymyksen id-numeron, saadaan kysymys, jolla on kyseinen id, esim:</h2>
      <a href="https://sheltered-sands-56766.herokuapp.com/api/kysely/1">https://sheltered-sands-56766.herokuapp.com/api/kysely/1</a>
      <p>{"id":2,"kysymysTeksti":"Kuinka kuvaat hyvinvointiasi tällä hetkellä asteikolla 1-10?"}<p>
        <p>Tulee kysymys, attribuutteina kysymyksen uniikki id-numero ja itse kysymyksen teksti.<p><br/><br/>


</body>
</html>
